<div class="dashboard">
    <div class="content-wrapper">
        <div class="row content-top">
            <div class="line-graph-section col-md-12">
                <div id="line-chart">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="graph-section col-md-5">
                <div id="pie-chart">
                </div>
            </div>
            <div class="table-section table-responsive col-md-7">

                <div class="search">
                    <input type="text" class="form-control input-box" [(ngModel)]="searchText" placeholder="Search..." (keyup)="onSearchTextChange($event.target.value)" [ngClass]="{'has-content': searchText.length}">
                </div>
                <table class="table table-bordered employeeDetails">
                    <thead>
                        <tr class="table-active">
                            <th class="name">
                                Name
                            </th>
                            <th class="email">
                                Email
                            </th>
                            <th class="status">
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableData" [ngClass]="getRowClasses(item)">
                            <td class="name">{{item.name}}</td>
                            <td class="Email">{{item.email}}</td>
                            <td class="status">{{item.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>