/* You can add global styles to this file, and also import other style files */

// @import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
body {
    margin: 0px !important;
    // font-family: sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    height: 100%;
}